#background{
    height: 250px;
}

#tips p{
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
}

section{
    display: flex;
    justify-content: center;
}

table{
    flex-grow: 1;
    font-size: 2em;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 100px;
}

td{
    width: 50px;
    border-bottom: 1px solid black;
}

td:first-child{
    text-align: end;
}

td:not(:first-child){
    border-left: 1px solid black;
    text-align: center;
}

tfoot td{
    border-bottom: 1px solid aliceblue;
}

.h{
    background-color: rgba(165, 42, 42);
}

.s{
    background-color: rgba(231, 231, 98);   
}

.d{
    background-color: darkblue;
}

#useless{
    flex-grow: 1;
    width: 13%;
}

aside{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 13%;
    height: 250px;
    margin: auto;
    margin-right: 20px;
    border: 3px solid black;
}

aside p{
    text-align: center;
    font-size: 1.5vw;
}