#background{
    height: 250px;
}

section{
    display: flex;
    justify-content: center;
}

table{
    font-size: 2em;
    margin-right: 35px;
    margin-left: 35px;
}

td{
    width: 50px;
    border-bottom: 1px solid black;
}

td:first-child{
    text-align: end;
}

td:not(:first-child){
    border-left: 1px solid black;
    text-align: center;
}

tfoot td{
    border-bottom: 1px solid aliceblue;
}

.h{
    background-color: rgba(165, 42, 42);
}

.s{
    background-color: rgba(231, 231, 98);   
}

.d{
    background-color: darkblue;
}

#useless{
    width: 10%;
}

aside{
    width: 10%;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: aqua;
    border: 3px solid black;
}
