@font-face {
    font-family: 'pixel';
    src: url('../Fonts/I-pixel-u.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(19, 59, 19);
    min-width: 940px;
}

.number_pixel{
    font-family:'pixel';
    font-size: 3em;
    margin: 0% 0% 0% 0%;
    text-align: center;
    font-weight: bold;
}

/* <!-- Class placement --!> */
.side{
    width: 25%;
    min-width: 360px;
    align-self: stretch;
}

.middle{
    width: 50%;
    min-width: 120px;
}

.cards{
    max-width: 150px;
}

.button{
    width: 170px;
}

.button_gray{
    width: 170px;
    filter: grayscale(90%);
}

/* <!-- Rules & Sprites --> */
#header{
    display: flex;
}

#rules{
    font-family: pixel;
    font-size: 2.3em;
}

ul{
    margin-left: 30px;
    list-style: square;
}

#middle_header{
    text-align: center;
    height: 320px;
}

#dealer_sprite{
    width: 13.5em;
}

#total_chips{
    background-image: url(../sprites/total.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-size: 19em;
    background-position: center;
    padding-bottom: 7em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#home{
    text-decoration: none;
    color: black;
    background-color: rgb(32, 95, 32);
    border: solid 3px black;
    padding: 10px;
    margin: auto;
    font-size: 1.7em;
}

#home:hover{
    background-color: rgb(61, 158, 61);
    box-shadow: 8px 8px;
}

#total_chips p{
    font-weight:bold;
    margin-top: 100px;
}

#game_speed_container{
    margin: auto;
    width: 150px;
    font-family: pixel;
    font-size: 2em;
    margin-top: -3em;
}

#game_speed{
    width: 100%;
    appearance: none;
    background-color: gray;
}

/* <!-- Dealer --> */

#top{
    display:flex;
    justify-content: space-between;
}

#stack_chips{
    display: flex;
    justify-content: center;
    width: 25%;
    min-width: 360px;
    padding-bottom: 3em;
    position: relative;
    bottom: 8.5em;
}

#stack_chips>div{
    display: flex;
    flex-direction: column-reverse;
    width: 25px;
    min-height: 100%;
    max-width: 216px;
}

.stack{
    width: 150%;
}

#bet_amount{
    align-items: center;
    font-size: 2.5em;
    position: absolute;
    padding-left: 5px;
}

#dealer_cards{
    display: flex;
    justify-content: center;
    min-height: 204.5px;
    padding-right: 16px;
}

#total_dealer{
    font-size: 3em;
}


/* <!-- Player --> */

#player_board{
    display: flex;
    justify-content: space-between;
}

#chips_side{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn_chips{
    position: relative;
    z-index: 2;
    margin-bottom: 35px;
    text-align: center;
}

.btn_chips{
    width: 13%;
}

#bet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player_cards{
    display: flex;
    justify-content: center;
    min-height: 204.5px;
    padding-right: 16px;
}

#btn_player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 280px;
}

/* <!-- Action / Result --> */

#result{
    font-family: "pixel";
    text-transform: uppercase;
    position:absolute;
    font-size: 8vh;
    bottom: 4em;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    min-width: 470px;
    width: 100%;
    right: 1px;
    background-color: rgba(128, 123, 106, 0.76);
}

#action{
    visibility: hidden;
}